html {
  scroll-behavior: smooth;
  background-color: black;
}

#login, #signup {
  max-width: 300px;
  margin: 30px auto 0px;
  color: gray;
}

#loginButton {
  margin: 10px auto 0px;
}

footer {
  text-align: center;
}

#buildsIndex {
  max-width: 50%;
  margin: 80px auto 0px;
}

.newBuildForm, .updateBuildForm, .buildsDestroy {
  max-width: 25%;
  margin: 10px auto 60px;
}
