html {
  scroll-behavior: smooth;
  background-color: #21252B;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
}

.home {
 text-align: center;
 margin: 150px auto 0px;
}

.login {
  max-width: 300px;
  margin: 5% auto;
  color: gray;
}

.signup {
  max-width: 300px;
  margin: 5% auto;
  color: gray;
}

.buildsIndex {
  max-width: 50%;
  margin: 80px auto 0px;
}

.newBuildForm, .updateBuildForm {
  max-width: 25%;
  margin: 0px auto 70px;
}
